.products-slider-wrapper {
    display: inline-block;
    vertical-align: middle;

    width: 94%;
    height: 100%;
    z-index: 0;
    position: relative;

    overflow: hidden;
}

.slider-rail {
    height: 100%;
    font-size: 0;
}

.slider-track {
    height: 100%;

    transform: translate(0,0);

    transition: transform .3s ease-in-out;
}

